* {
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
.header {
    background-color: teal;
    color: white;
    text-align: center;
    padding: 80px;
}
.header h1 {
    font-size: 40px;
}
.navbar {
    background-color: #545252;
    position: sticky;
    top: 0;
    overflow: hidden;
}
.navbar a {
    color: white;
    padding: 14px 20px;
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
}
.navbar a.right {
    float: right;
}
.navbar a:hover {
    background-color: #d4d2d2;
    color: black;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}
.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.footer {
    text-align: center;
    background-color: #ddd;
    padding: 20px;
}
@media screen and (max-width: 400px){
    .navbar a {
        float: none;
        width: 100%;
    }
}
@media screen and (max-width: 700px) {
    .row{
        flex-direction: column;
    }
}